section.features
  .promo
    margin: 55px 0
    p
      color: #000000
      text-align: center
      text-transform: uppercase 
      &:first-child
        font-size: 21px
        line-height: 26px
        font-weight: bold
      &:last-child
        font-size: 14px
        color: #4e4e4e
  
  .row
    display: flex
    max-height: 260px
    .description
      display: flex
      flex-direction: column
      justify-content: space-between
      background-color: #81b3d2
      color: #ffffff
      padding: 46px 56px
      width: 400px
      p
        font-size: 14px
        text-align: center
        text-transform: uppercase
        line-height: 21px
        font-weight: 400
        &:first-child
          font-size: 21px
          font-weight: 700
          margin-top: 0
        &:last-child
          margin-bottom: 0

  .row-we-have
    display: flex
    justify-content: space-between
    .we-have
      padding: 56px 64px
      text-align: center
      p 
        font-size: 14px
        line-height: 21px
        text-transform: uppercase
        &:nth-child(2)
          font-size: 21px
          font-weight: 700

  .row-we-have-also
    display: flex
    justify-content: space-between
    .also
      background-color: #eeeeee
      padding: 46px 64px
      text-align: center
      width: 400px
      p
        font-size: 14px
        line-height: 21px
        text-transform: uppercase
        color: #333333
        &:first-child
          color: #000000
          font-size: 21px
          font-weight: 700


      

      
